@media(prefers-color-scheme: dark) {
    :root {
        --black: #0C0C0C;
        --gray: #313131;
        --border: 1px solid #FFFFFF;
        --white: #FFFFFF;
    }

    .header__nav-logo::before{
        content: url(../images/Logo-dark.png);
    }

    .prenav__languages{
        background: var(--black);
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
    }

    .dropdown-item, .dropdown-divider{
        color: var(--white);
    }

    .dropdown-item:hover{
        color: var(--white);
        background: var(--black);
    }

    .footer{
        background: var(--black);
    }

    .prenav{
        background: var(--black);
    }

    body{
        background: var(--gray);
    }

    .header__link{
        background: var(--gray);
        color: var(--white);
    }

    .header__link:hover{
        color: var(--white);
    }

    .header__nav-btn{
        background: var(--gray);
        border: var(--border);
    }

    .header__nav-form{
        background: var(--gray);
        color: var(--white);
        border: var(--border);
    }

    .header__slide-description{
        color: var(--white);
    }

    .header__slide-btn, .main__apple-btn{
        background: var(--gray);
        color: var(--white);
        border: var(--border);
    }

    .carousel-indicators [data-bs-target]{
        background: #ABABAB;
    }

    .carousel-indicators [data-bs-target].active{
        background: var(--white);
    }

    .main__cellphone-card:hover{
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }

    .btn, .main__cellphone-link, .main__playstation-btn, .main__vr-btn{
        background: var(--gray);
        color: var(--white);
        border: var(--border);
    }

    .main__title, .main__cellphone-description, .main__cellphone-price, .main__computerslaptops-description, .main__computerslaptops-price, .main__playstation-title, .main__seller-description, .main__seller-price, .main__rectangle, .header__list-link, .header__link-span, .main__apple-title, .main__apple-list, .main__apple-price, .main__apple-ad, .main__vr-title, .main__vr-description, .main__card-icon{
        color: var(--white);
    }

    .main__psp::before{
        content: url(../images/PSP-dark.png);
    }

    .header__links-ul{
        background: var(--black);
    }

    .header__slide-img{
        background: radial-gradient(41.86% 41.86% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .main__cellphone-img{
        background: radial-gradient(39.9% 39.9% at 50% 38.67%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .main__computerslaptops-card{
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .main__playstation-img{
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .main__seller-img{
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .main__apple-link.active{
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }
}

@media(max-width:1400px){
    .main__playstation-img{
        width: 100%;
    }

    .main__computerslaptops-cards, .main__cellphone-cards, .main__seller-cards{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main__computerslaptops-card, .main__cellphone-card, .main__seller-card:nth-of-type(4){
        margin-top: 30px;
    }

    .main__card-img{
        height: 100%;
    }

    .header__links{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .header__slide-img{
        width: 50%;
    }

    .main__vr-img{
        width: 100%;
    }

    .footer__icons{
        flex-wrap: wrap;
    }

    .footer__form{
        margin-right: 30px;
    }
}

@media(max-width:994px){
    .prenav{
        min-height: 60px;
        height: 100%;
    }

    .footer__logo{
        margin: 0 0 20px 0;
    }

    .footer__content{
        flex-direction: column;
        align-items: center;
    }

    .header__slide-btn{
        margin-top: 80px;
    }

    .mr, .mr2, .prenav__language{
        margin: 0;
    }

    .dropdown:nth-of-type(5){
        margin-top: 20px;
    }

    .dropdown:last-of-type{
        margin-top: 20px;
    }

    .header__nav-form{
        width: 70%;
    }

    .main__playstation-title{
        margin-bottom: 30px;
    }

    .main__playstation{
        width: 100%;
    }

    .price1{
        top: 220px;
        height: max-content;
    }

    .name1{
        top: 190px;
        height: max-content;
    }

    .main__left-card{
        height: 100%;
        margin: 0 0 30px 0;
    }

    .main__right-card{
        height: 50%;
    }
 
    .main__card-span, .main__card-span1{
        width: 40px;
        height: 40px;
        font-size: 15px;
    }

    .main__card-name1, .main__card-name{
        font-size: 18px;
    }
    
    .main__playstation-title{
        font-size: 30px;
    }

    .main__playstation-content{
        top: 50px;
    }

    .main__apple-div{
        flex-direction: column;
    }

    .main__apple-div{
        flex-direction: column;
    }

    .main__apple-tab{
        padding: 0 !important;
        flex-direction: column;
    }

    .main__apple-img{
        margin: 0 auto;
    }

    .main__vr-title{
        margin: 0;
        text-align: center;
    }

    .main__vr-description{
        margin: 10px auto;
        text-align: center;
    }

    .main__vr-content{
        position: static;
    }

    .main__apple-links{
        flex-direction: column;
    }
}

@media(max-width:770px) {
    .main__playstation-content{
        top: 20px;
    }

    .header__slide-description{
        font-size: 30px;
        line-height: 40px;
    }

    .header__slide-btn{
        margin-top: 40px;
    }

    .name1 {
        top: 120px;
    }

    .price1 {
        top: 150px;
    }

    .dropdown:nth-of-type(4), .dropdown:nth-of-type(3){
        margin-top: 20px;
    }

    .header__nav-content{
        flex-direction: column;
        align-items: center;
    }
    .header__nav-form{
        margin-left: 0;
    }

    .header__nav{
        justify-content: center;
        margin: 20px 0;
    }

    .footer__nav-form{
        width: 200px;
    }

    .footer__form-btn{
        width: 100px;
    }

    .main__playstation-title{
        margin: 10px 0 10px 0;
        line-height: 20px;
        font-size: 15px;
    }

    .main__playstation-btn{
        padding: 9px 0;
    }

    .main__playstation-content{
        top: 0;
    }
}

@media(max-width:430px){
    .dropdown:nth-of-type(2){
        margin-top: 20px;
    }

    .header__slide-content{
        flex-direction: column;
    }

    .header__slide-description{
        margin-top: 20px;
    }

    .header__slide-left{
        margin-bottom: 40px;
    }

    .header__slide-img{
        width: 100%;
    }

    .name1 {
        top: 80px;
    }

    .price1 {
        top: 100px;
    }

    .main__apple-buttons{
        flex-direction: column;
        align-items: center;
    }

    .footer__form{
        margin: 0;
    }

    .main__apple-content{
        margin: 0;
    }

    .main__apple-btn:first-of-type{
        margin: 0 0 10px 0;
    }
}