@import 'fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

:root{
    --black: #313131;
    --white: #FFFFFF;
    --Noto-normal: 'NotoSans-normal';
}

/* HEADER START */



.prenav{
    background: var(--black);
}

.prenav__language{
    color: var(--white);
    background: var(--black);
}

.language__arrow::before{
    content: '\f077';
}

.prenav__list{
    margin-left: auto;
}

.prenav__link{
    display: flex;
    color: var(--white);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.07em;
    font-family: var(--Noto-normal);
    text-align: center;
}

.prenav__link:hover{
    color: var(--white);
}

.prenav__language:hover{
    color: var(--white);
}

.prenav__language{
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
    font-family: var(--Noto-normal);
    letter-spacing: 0.05em;
    text-align: center;
    margin-right: 80px;
}

hr{
    margin: 0;
}

.dropdown-divider{
    margin: 0 auto; 
    width: 70px;

}

.mr{
    margin-right: 33px;
}

/* .mr::before{
    content: '\f879';
} */

.prenav__tel::before{
    content: '\f879';
    font-weight: 900;
}

.prenav__tel{
    font-size: 15px;
    color: var(--white);
}

.prenav__sign::before{
    content: '\f007';
    font-weight: 900;
}

.prenav__tel-span{
    width: 15px;
    height: 15px;
    position: relative;
}

.mr2{
    margin-right: 42px;
}

.prenav__languages{
    width:max-content;
}

.dropdown-item {
    margin: 5px 14px;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    width: max-content;
    font-family: var(--Noto-normal);
}

.prenav__dropdown-item{
    width: 80px;
    margin: 0;
}

.dropdown-item:hover{
    background: var(--white);
}

.dropdown-menu {
    margin-left: -10px;
    min-width: 0;
    width: 80px;
    padding: 0;
    border-radius: 0;
}



.header__nav-form{
    width: 440px;
    border-radius: 0;
    margin-left: 143px;
    height: 50px;
}

.header__nav-btn{
    width: 190px;
    background: var(--black);
    border-radius: 0;
    color: var(--white);
    font-size: 14px;
    line-height: 19px;
    font-family: var(--Noto-normal);
    height: 50px;
    border: none;
}

.header__nav-logo::before{
    content: url(../images/Logo-light.png);
}

/* .header__nav-btn::before{
    content: '\f002';
    font-size: 16px;
} */

.header__nav-btn:hover{
    color: var(--white);
}

.header__list{
    display: flex;
    
}

.header__link{
    outline: none;
    border: none;
    background: white;
    color: var(--black);
    margin-left: 20px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.05em;
    font-family: var(--Noto-normal);
}

.header__link:hover{
    color: var(--black);
}

.header__links{
    margin-left: auto;
    display: flex;
}

.header__links-ul{
    width: 300px;
    
}

.header__link-span1{
    margin-right: 20px;
}

.header__link-span{
    color: var(--black);
    font-size: 16px;
    line-height: 20px;
    font-family: var(--Noto-normal);
    text-decoration-line: underline;
    letter-spacing: 0.05em;
}

.header__list-link{
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    font-family: var(--Noto-normal);
    letter-spacing: 0.05em;

}

.header__carousel{
    margin-top: 50px;
}

.header__slide-content{
    display: flex;
}



.header__slide-description{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 600;
    margin-top: 113px;
    max-width: 624px;
    width: 100%;
    text-align: center;
}

.header__slide-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__slide-btn{
    display: flex;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
    font-family: var(--Noto-normal);
    width: 190px;
    justify-content: center;
    padding: 12px 0;
    background: var(--black);
    margin-top: 121px;
}

.header__slide-btn:hover{
    color: var(--white);
}

.carousel-indicators [data-bs-target]{
    background: #ABABAB;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].active{
    background: var(--black);
    width: 15px;
    height: 15px;
}



/* HEADER END */



/* MAIN START */



.main{
    margin-top: 50px;
}

/* .main__cards{
    display: grid;
    gap: 30px;
} */

.main__left-card{
    position: relative;
}

span{
    position: absolute;
}

.main__card-span{
    color: var(--white);
    font-family: var(--Noto-normal);
    font-size: 20px;
    line-height: 30px;
    background: var(--black);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__card-name{
    color: var(--black);
    font-size: var(--Noto-normal);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    left: 20px;
    bottom: 55px;
}

.main__card-price{
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    left: 20px;
    bottom: 15px;
}

.main__left-card{
    height: 500px;
    filter: drop-shadow(-10px 5px 4px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    grid-column: span 2;

}

.main__right-card{
    height: 235px;
    grid-column: span 1;
    position: relative;
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));
}

.main__card-name1{
    color: var(--black);
    font-size: var(--Noto-normal);
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    top: 15px;
    left: 20px;
    
}

.main__card-price1{
    top: 73px;
    left: 20px;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}

.main__card-price2{
    top: 55px;
    left: 20px;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
}

.main__card-span1{
    left: 20px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-family: var(--Noto-normal);
    font-size: 20px;
    line-height: 30px;
    background: var(--black);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}    


.btn{
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    font-family: var(--Noto-normal);
    width: 190px;
    justify-content: center;
    padding: 12px 0;
    background: var(--black);
    margin: 30px auto 70px auto;
    display: flex;
    border-radius: 0;
}

.btn:hover{
    color: var(--white);
}

.main__title{
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 49px;
    font-family: var(--Noto-normal);
    font-weight: 600;
    color: var(--black);
}

.main__cellphone-cards{
    display: flex;
    justify-content: space-between;
}

.main__cellphone-description{
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.main__cellphone-price{
    color: var(--black);
    font-family: var(--Noto-normal);
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
}

.main__cellphone-card{
    width: 300px;
    height: 330px;
    position: relative;
    transition: 0.5s;
}

.main__cellphone-link:hover{
    color: var(--white);
}

.main__cellphone-card:hover .main__cellphone-link{
    display: flex;
}

.main__cellphone-card:hover .main__card-icon::before{
    display: inline-block;
}

.main__cellphone-card:hover{
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.main__cellphone-text{
    width: 100%;
    position: absolute;
    top: 226px;
}

.main__cellphone-link{
    font-size: 14px;
    line-height: 19px;
    color: var(--white);
    font-family: var(--Noto-normal);
    background: var(--black);
    width: 100px;
    display: none;
    justify-content: center;
    padding: 5px 0;
    margin: 0 auto 18px auto;
}

.main__card-icon::before{
    content: '\f004';
    position: absolute;
    top: 17.5px;
    right: 16px;
    display: none;
}

.main__computerslaptops-card{
    width: 300px;
    position: relative;
}

.main__computerslaptops-text{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.main__computerslaptops-description{
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.main__computerslaptops-price{
    font-size: 14px;
    line-height: 19px;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 300;
    margin-bottom: 17px;
    text-align: center;
}

.main__computerslaptops-cards{
    display: flex;
    justify-content: space-between;
}

.main__playstation{
    position: relative;
    margin-bottom: 70px;
}

.main__psp::before{
    content: url(../images/PSP.png);
}

.main__playstation-title{
    margin: 20px 0 70px 0;
    font-size: 48px;
    line-height: 65px;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 600;
}

.main__playstation-content{
    position: absolute;
    top: 94px;
    left: 20px;
}

.main__playstation-btn{
    display: flex;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
    font-family: var(--Noto-normal);
    background: var(--black);
    width: 190px;
    justify-content: center;
    padding: 12px 0;
}

.main__seller-card{
    width: 300px;
    position: relative;
}

.main__seller-text{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main__seller-description{
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    font-family: var(--Noto-normal);
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.main__seller-price{
    font-size: 14px;
    line-height: 19px;
    font-family: var(--Noto-normal);
    font-weight: 300;
    color: var(--black);
    text-align: center;
    margin-bottom: 15px;
}

.main__seller-cards{
    display: flex;
    justify-content: space-between;
}

.main__rectangle{
    font-size: 12px;
    line-height: 16px;
    color: var(--black);
    font-family: var(--Noto-normal);
    margin: 54px 0 0 auto;
    text-align: end;
}



/* MAIN END */



/* FOOTER START */



.footer{
    background: var(--black);
}

.footer__content{
    display: flex;
    padding: 30px 0 45px 0;
}

.footer__links{
    display: flex;
}

.footer__icons{
    display: flex;
}

.footer__logo{
    margin-right: 143px;
}

.footer__nav-form{
    width: 330px;
    height: 50px;
    padding: 0;
    border-radius: 0;
}

.footer__form-btn{
    width: 190px;
    color: var(--white);
    font-size: 18px;
    line-height: 25px;
    font-family: var(--Noto-normal);
    display: flex;
    justify-content: center;
    padding: 12px 0;
    background: var(--black);
    outline: none;
    border: 1px solid #FFFFFF;
}

.footer__form-description{
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
    font-family: var(--Noto-normal);

}

.footer__link{
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
    font-family: var(--Noto-normal);
    margin-right: 30px;
}

.footer__link:hover{
    color: var(--white);
}

.footer__links{
    margin-top: 50px;
}

.footer__form{
    margin-right: 54px;
}



/* FOOTER END */